<!DOCTYPE html>
<html>
<style>
  tr:nth-child(-n+5) {
    background-color:greenyellow;
  }

  tr:nth-last-child(-n+2) {
    background-color:red;
  }

  tr:nth-child(1) {
    background-color: #dddddd !important;
  }
</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>
        We are the Champions
    </title>
</head>
<body>

  <h2 class='center'>GovTech Annual Football Championship in progress</h2>
  <h3 class='center'>Congratulations to the teams that advances to the next round</h3>
  <div class="row">
      {{ range . }}
      <div class="column">
          <table>
              <tr>
                <th>Team Name</th>
                <th>Registration Date</th>
                <th>Total Win</th>
                <th>Total Lose</th>
                <th>Total Draw</th>
                <th>Total Goals</th>
                <th>Total Score</th>
              </tr>
              {{ range . }}
                  <tr>
                  <td>{{ .Team.Name }}</td>
                  <td>{{ .Team.RegistrationDate }}</td>
                  <td>{{ .NumberOfWin }}</td>
                  <td>{{ .NumberOfLose }}</td>
                  <td>{{ .NumberOfDraw }}</td>
                  <td>{{ .TotalGoal }}</td>
                  <td>{{ .TotalScore }}</td>
                  </tr>
              {{ end }}
            </table>
      </div>
      {{ end }}
  </div>

  <div class='center'>
    <form method="GET", action="/restart">
      <button type="submit" value="Submit">Click Here To Restart</button>
    </form> 
  </div>
</body>
</html>

